body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

table {
  border: 1px #bcc5d0 solid;
}

thead th {
  font-weight: 500;
  padding: 15px 10px;
}

thead {
  color: #3e515b;
  background-color: #e3e8ec;
  border-color: #bcc5d0;
}

thead {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f2f2f2;
}

select {
  min-width: 100px;
  border-radius: 8%;
}
